<% provide(:title, "Home Page") %>
<% @messages.each do |message| %>
  <div class="row">
    <div class="span3">
      <div style="text-align:right"><%= message.name %> says:</div>
    </div>
    <div class="span9">
      <div class="well"><%= raw(message.message_text) %></div>
    </div>
  </div>
<% end %>
<% if @messages.empty? %>
  <div class="row">
    <div class="well">There are no messages to show.</div>
  </div>
<% end %>
